.attendance {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: left;
}

.attendance__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* 月切り替え */
.attendance__month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0.6rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.attendance__month-btn {
    color: #555;
    font-size: 0.9rem;
    text-decoration: none;
}

.attendance__month-display {
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
}

/* テーブル */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

.attendance-table th,
.attendance-table td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}

.attendance-table__detail-link {
    color: #333;
    text-decoration: underline;
}

.attendance-table tr:last-child td {
    border-bottom: none;
}

/* ナビゲーション */
.header__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-nav__list {
    display: flex;
    align-items: center; /* 縦位置を揃える */
    gap: 1rem;
    font-weight: bold;
}

.header-nav__item a {
    color: #fff;
    text-decoration: none;
}
.header-nav__item:not(:last-child) {
    margin-right: 1rem;
}

.header-nav__link {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    color: #fff !important;
    background: #000;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1; /* 高さを揃える */
}

.header-nav__link--active {
    background: #fff;
    color: #000 !important;
    border-color: #fff;
}

/* スマホ対応 */
@media (max-width: 600px) {
    .attendance-table th,
    .attendance-table td {
        padding: 0.6rem;
        font-size: 0.75rem;
    }

    .attendance__month-selector {
        gap: 1rem;
    }

    .attendance__month-display {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}
